@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient {
  background: linear-gradient(to right, #610bef 0%, #438afd 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(to right, #610bef 0%, #438afd 78%);
  position: relative;
  overflow: hidden;
}

.bg-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.bg-gradient:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 50px;
  color: white;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}
